@model DuzenleGonderiViewModel
@{
    ViewBag.Title = "Gönderi Düzenle";
}

<h1>@ViewBag.Title</h1>



<form method="post" enctype="multipart/form-data" asp-action="Guncelle">
    <div class="alert alert-dark text-center">
        <h3>Gönderi Resmi</h3>
        <div class="mb-3">
            <input asp-for="ResimYolu" type="hidden" value="@Model.ResimYolu" />
            <img src="~/img/upload/@Model.ResimYolu" alt="@Model.Id" class="w-50" />
        </div>
    </div>
    <div class="mb-3">
        <label asp-for="Baslik" class="form-label"></label>
        <input type="text" asp-for="Baslik" class="form-control" />
        <span asp-validation-for="Baslik" class="text-danger mt-1"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Resim" class="form-label"></label>
        <input type="file" asp-for="Resim" class="form-control" />
        <span asp-validation-for="Resim" class="text-danger mt-1"></span>
    </div>
    <button class="btn btn-primary">KAYDET</button>
</form>
